# US_Travel_Flows

### Objectives:
Create pivot tables to summarize travel flows among states or HHS regions. Each travel mode (driving, public transit and other) has its separate table.

NetworkX?

In [80]:
import pandas as pd
folder = r'C:\Users\Ensheng\Desktop\Flu_B\\'
out_folder = r'C:\Users\Ensheng\Desktop\Flu_B\outputs\\'

## Commuting Flows

In [81]:
in_table = folder + r'commuting_flows_by_travel_mode.csv'
df_com = pd.read_csv(in_table)
df_com.head(3)

,res_state_FIPS,res_county_FIPS,res_FIPS,res_state,res_county,work_state_FIPS,work_county_FIPS,work_FIPS,work_state,work_county,travel_mode,flow,moe
0,1,1,1001,Alabama,Autauga County,1.0,1.0,1001.0,Alabama,Autauga County,driving,6963,532
1,1,1,1001,Alabama,Autauga County,1.0,1.0,1001.0,Alabama,Autauga County,driving,867,201
2,1,1,1001,Alabama,Autauga County,1.0,1.0,1001.0,Alabama,Autauga County,public_transit,9,10

In [82]:
# remove unrelated residence/work locations
df_com = df_com[df_com['work_state']!='Other workplace location outside United States'].reset_index(drop=True)
df_com = df_com[df_com['work_state']!='Canada'].reset_index(drop=True) # FIPS = 301
df_com = df_com[df_com['work_state']!='Mexico'].reset_index(drop=True) # FIPS = 303

In [83]:
set(df_com['res_FIPS']) - set(df_com['work_FIPS'])

set()

In [84]:
set(df_com['work_FIPS']) - set(df_com['res_FIPS'])

set()

In [85]:
in_table = folder + r'HHS_states_table.csv'
df_hhs = pd.read_csv(in_table)
df_hhs.head(3)

     HHS  Regions  state_FIPS
0  HHS04  Alabama           1
1  HHS10   Alaska           2
2  HHS09  Arizona           4

In [86]:
# merge with HHS
df_temp = pd.merge(df_com, df_hhs, how='left', left_on='res_state_FIPS',right_on='state_FIPS')
df_temp = pd.merge(df_temp, df_hhs, how='left', left_on='work_state_FIPS',right_on='state_FIPS')
df_temp = df_temp.rename(index=str, columns={"HHS_x": "res_HHS", "HHS_y": "work_HHS"})
df_temp = df_temp.drop(columns=['Regions_x', 'state_FIPS_x', 'Regions_y', 'state_FIPS_y'])
df_com = df_temp

In [87]:
# separate into different transportation modes and check its availabity
df_driving = df_com[df_com['travel_mode']=='driving'].reset_index(drop=True)
df_public = df_com[df_com['travel_mode']=='public_transit'].reset_index(drop=True)
df_other = df_com[df_com['travel_mode']=='other_mode'].reset_index(drop=True)

In [88]:
print(len(set(df_com['res_FIPS'])))
print(len(set(df_com['work_FIPS'])))
print(len(set(df_driving['res_FIPS'])))
print(len(set(df_driving['work_FIPS'])))
print(len(set(df_public['res_FIPS'])))
print(len(set(df_public['work_FIPS'])))
print(len(set(df_other['res_FIPS'])))
print(len(set(df_other['work_FIPS'])))
# note: the smaller counts mean incomplete number of counties for poblic transit and other modes.

3221
3221
3221
3221
2728
2642
3221
3221

In [141]:
print(len(set(df_driving['res_FIPS']) - set(df_driving['work_FIPS'])))
print(len(set(df_driving['work_FIPS']) - set(df_driving['res_FIPS'])))
print(len(set(df_public['res_FIPS']) - set(df_public['work_FIPS'])))
print(len(set(df_public['work_FIPS']) - set(df_public['res_FIPS'])))
print(len(set(df_other['res_FIPS']) - set(df_other['work_FIPS'])))
print(len(set(df_other['work_FIPS']) - set(df_other['res_FIPS'])))

0
0
149
63
0
0

### Pivoting tables and sorting flow

In [132]:
mode = 'other'

if mode == 'driving':
    df_mode = df_driving
if mode == 'public':
    df_mode = df_public
if mode == 'other':
    df_mode = df_other

output_name_state = 'Flows_' + mode + '_state.csv'
output_name_state_rank = 'Flows_' + mode + '_state_rank.csv'
output_name_hhs = 'Flows_' + mode + '_HHS.csv'
output_name_hhs_rank = 'Flows_' + mode + '_HHS_rank.csv'

### State summary

In [133]:
result_temp = df_mode.groupby(['res_state', 'work_state'])['flow'].sum()
result = result_temp.unstack().fillna(0)
output_csv = out_folder + output_name_state
result.to_csv(output_csv, index=True, encoding='utf-8')
result

work_state,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
res_state,,,,,,,,,,,,,,,,,,,,,
Alabama,90626.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,18.0,129.0,...,0.0,96.0,197.0,0.0,0.0,18.0,0.0,0.0,4.0,0.0
Alaska,0.0,62029.0,0.0,0.0,0.0,4.0,0.0,0.0,38.0,0.0,...,0.0,0.0,20.0,0.0,0.0,0.0,35.0,0.0,0.0,0.0
Arizona,14.0,113.0,269415.0,0.0,1304.0,160.0,0.0,0.0,42.0,100.0,...,0.0,90.0,238.0,207.0,0.0,14.0,61.0,0.0,59.0,0.0
Arkansas,0.0,0.0,0.0,74295.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,107.0,282.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
California,0.0,6.0,856.0,0.0,1665450.0,140.0,22.0,0.0,289.0,213.0,...,0.0,32.0,1357.0,117.0,0.0,136.0,1006.0,0.0,13.0,0.0
Colorado,0.0,0.0,299.0,0.0,657.0,293383.0,0.0,0.0,12.0,2.0,...,0.0,6.0,446.0,67.0,0.0,7.0,61.0,0.0,0.0,23.0
Connecticut,0.0,0.0,0.0,0.0,66.0,0.0,138808.0,0.0,40.0,23.0,...,0.0,0.0,80.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0
Delaware,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28826.0,75.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0
District of Columbia,0.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0,64236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1499.0,10.0,0.0,0.0,0.0
Florida,107.0,10.0,30.0,0.0,269.0,0.0,109.0,0.0,165.0,669289.0,...,0.0,222.0,712.0,19.0,17.0,465.0,61.0,36.0,0.0,0.0
Georgia,125.0,0.0,11.0,0.0,186.0,0.0,0.0,0.0,269.0,590.0,...,0.0,582.0,375.0,16.0,0.0,61.0,0.0,0.0,55.0,0.0
Hawaii,0.0,6.0,0.0,0.0,180.0,0.0,0.0,0.0,25.0,0.0,...,0.0,0.0,23.0,0.0,0.0,0.0,69.0,0.0,0.0,0.0
Idaho,0.0,65.0,3.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,66.0,0.0,0.0,406.0,0.0,0.0,19.0
Illinois,0.0,0.0,74.0,2.0,542.0,44.0,136.0,11.0,165.0,241.0,...,27.0,114.0,384.0,0.0,0.0,43.0,61.0,0.0,431.0,0.0
Indiana,0.0,0.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Iowa,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,124.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
Kansas,0.0,3.0,0.0,0.0,45.0,0.0,0.0,0.0,0.0,0.0,...,0.0,12.0,47.0,0.0,0.0,34.0,0.0,0.0,0.0,0.0
Kentucky,21.0,0.0,0.0,0.0,41.0,0.0,0.0,0.0,28.0,13.0,...,0.0,361.0,15.0,0.0,0.0,6.0,0.0,20.0,0.0,0.0
Louisiana,0.0,0.0,0.0,14.0,8.0,0.0,25.0,0.0,0.0,14.0,...,0.0,13.0,922.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
Maine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Maryland,0.0,0.0,0.0,0.0,37.0,0.0,34.0,246.0,3573.0,143.0,...,0.0,11.0,69.0,0.0,0.0,907.0,0.0,115.0,0.0,0.0
Massachusetts,0.0,4.0,25.0,0.0,123.0,0.0,323.0,0.0,217.0,124.0,...,0.0,39.0,44.0,0.0,126.0,86.0,0.0,0.0,0.0,0.0
Michigan,0.0,7.0,47.0,0.0,106.0,0.0,0.0,0.0,9.0,61.0,...,0.0,18.0,67.0,0.0,0.0,22.0,11.0,0.0,242.0,0.0
Minnesota,0.0,37.0,31.0,0.0,69.0,15.0,0.0,0.0,20.0,41.0,...,53.0,0.0,57.0,36.0,0.0,0.0,0.0,0.0,327.0,3.0
Mississippi,40.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,268.0,515.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Missouri,0.0,0.0,0.0,108.0,0.0,0.0,0.0,0.0,27.0,18.0,...,0.0,43.0,183.0,0.0,0.0,0.0,4.0,0.0,22.0,0.0
Montana,0.0,112.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,5.0
Nebraska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,...,12.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
Nevada,0.0,0.0,97.0,0.0,937.0,37.0,0.0,0.0,31.0,23.0,...,0.0,27.0,140.0,80.0,0.0,0.0,14.0,0.0,0.0,0.0
New Hampshire,0.0,0.0,0.0,0.0,0.0,0.0,11.0,10.0,0.0,18.0,...,0.0,0.0,0.0,0.0,198.0,0.0,0.0,0.0,0.0,0.0
New Jersey,0.0,0.0,11.0,0.0,156.0,0.0,39.0,13.0,175.0,55.0,...,0.0,0.0,55.0,0.0,6.0,24.0,6.0,0.0,19.0,0.0
New Mexico,0.0,0.0,44.0,0.0,95.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,297.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0
New York,0.0,0.0,48.0,0.0,552.0,0.0,1449.0,0.0,290.0,348.0,...,24.0,0.0,297.0,0.0,44.0,121.0,61.0,0.0,0.0,0.0
North Carolina,0.0,0.0,289.0,0.0,176.0,0.0,0.0,0.0,33.0,151.0,...,0.0,103.0,106.0,0.0,0.0,390.0,0.0,0.0,57.0,0.0
North Dakota,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ohio,0.0,0.0,0.0,0.0,82.0,0.0,0.0,0.0,149.0,20.0,...,8.0,45.0,134.0,0.0,0.0,12.0,0.0,287.0,5.0,0.0
Oklahoma,0.0,0.0,23.0,124.0,21.0,13.0,0.0,0.0,0.0,0.0,...,0.0,26.0,406.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
Oregon,0.0,73.0,129.0,0.0,385.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.0,0.0,0.0,0.0,589.0,0.0,0.0,0.0
Pennsylvania,0.0,0.0,24.0,0.0,76.0,0.0,42.0,217.0,191.0,40.0,...,0.0,36.0,220.0,0.0,0.0,130.0,10.0,123.0,0.0,0.0
Puerto Rico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Rhode Island,0.0,0.0,0.0,0.0,0.0,0.0,135.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0
South Carolina,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,15.0,10.0,...,0.0,28.0,62.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0
South Dakota,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,46362.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
Tennessee,90.0,0.0,0.0,49.0,0.0,0.0,0.0,0.0,0.0,85.0,...,0.0,154924.0,242.0,0.0,0.0,183.0,0.0,0.0,18.0,0.0
Texas,50.0,76.0,241.0,124.0,850.0,299.0,49.0,0.0,140.0,359.0,...,0.0,292.0,828649.0,35.0,0.0,10.0,61.0,0.0,51.0,0.0
Utah,0.0,12.0,67.0,0.0,434.0,35.0,0.0,0.0,0.0,38.0,...,0.0,0.0,85.0,116524.0,0.0,0.0,48.0,0.0,0.0,19.0
Vermont,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,44499.0,0.0,0.0,0.0,0.0,0.0
Virginia,0.0,0.0,70.0,0.0,6.0,0.0,0.0,0.0,4934.0,63.0,...,0.0,204.0,51.0,0.0,0.0,314405.0,12.0,24.0,0.0,0.0
Washington,0.0,732.0,73.0,0.0,1104.0,0.0,8.0,0.0,129.0,0.0,...,0.0,0.0,212.0,90.0,0.0,26.0,331438.0,0.0,0.0,0.0
West Virginia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,...,0.0,0.0,0.0,0.0,0.0,114.0,0.0,49067.0,0.0,0.0
Wisconsin,0.0,0.0,42.0,0.0,14.0,32.0,0.0,0.0,0.0,3.0,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,249412.0,0.0
Wyoming,0.0,27.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,29427.0

In [134]:
# sort by flow where res and work are different locations
result_flow = result_temp.reset_index()
result_flow = result_flow[result_flow['res_state'] != result_flow['work_state']]
df_flow = result_flow.sort_values('flow',ascending = False).reset_index(drop=True)

result = df_flow
output_csv = out_folder + output_name_state_rank
result.to_csv(output_csv, index=True, encoding='utf-8')

df_flow.head(10)

              res_state            work_state  flow
0            New Jersey              New York  5051
1              Virginia  District of Columbia  4934
2              Maryland  District of Columbia  3573
3              New York            New Jersey  2924
4            New Jersey          Pennsylvania  1703
5          Pennsylvania            New Jersey  1630
6  District of Columbia              Virginia  1499
7              New York           Connecticut  1449
8               Florida              New York  1440
9               Florida               Georgia  1393

### HHS summary

In [135]:
# output pivot table
result_temp = df_mode.groupby(['res_HHS', 'work_HHS'])['flow'].sum()
result = result_temp.unstack().fillna(0)
output_csv = out_folder + output_name_hhs
result.to_csv(output_csv, index=True, encoding='utf-8')
result

work_HHS,HHS01,HHS02,HHS03,HHS04,HHS05,HHS06,HHS07,HHS08,HHS09,HHS10
res_HHS,,,,,,,,,,
HHS01,697638.0,2803.0,764.0,272.0,466.0,161.0,0.0,0.0,258.0,4.0
HHS02,2501.0,1501553.0,3143.0,830.0,818.0,540.0,5.0,24.0,884.0,67.0
HHS03,497.0,3282.0,1194115.0,1159.0,905.0,376.0,152.0,0.0,253.0,32.0
HHS04,429.0,3174.0,2643.0,1858655.0,2946.0,3029.0,307.0,49.0,1340.0,71.0
HHS05,327.0,1155.0,1301.0,1951.0,1841324.0,669.0,1879.0,605.0,1234.0,158.0
HHS06,126.0,601.0,375.0,1750.0,1269.0,1212908.0,259.0,410.0,1353.0,137.0
HHS07,33.0,40.0,85.0,111.0,1229.0,474.0,533708.0,164.0,58.0,7.0
HHS08,20.0,243.0,103.0,168.0,514.0,580.0,171.0,587059.0,1711.0,303.0
HHS09,201.0,1766.0,1031.0,856.0,2125.0,2059.0,224.0,835.0,2108573.0,1527.0
HHS10,116.0,110.0,220.0,81.0,199.0,238.0,24.0,365.0,1990.0,702374.0

In [136]:
# sort by flow where res and work are different locations
result_flow = result_temp.reset_index()
result_flow = result_flow[result_flow['res_HHS'] != result_flow['work_HHS']]
df_flow = result_flow.sort_values('flow',ascending = False).reset_index(drop=True)

result = df_flow
output_csv = out_folder + output_name_hhs_rank
result.to_csv(output_csv, index=True, encoding='utf-8')

df_flow.head(10)

  res_HHS work_HHS  flow
0   HHS03    HHS02  3282
1   HHS04    HHS02  3174
2   HHS02    HHS03  3143
3   HHS04    HHS06  3029
4   HHS04    HHS05  2946
5   HHS01    HHS02  2803
6   HHS04    HHS03  2643
7   HHS02    HHS01  2501
8   HHS09    HHS05  2125
9   HHS09    HHS06  2059

## Domestic Flights

In [143]:
in_table = folder + r'iata_flows.csv'
df_iata = pd.read_csv(in_table)
df_iata.head(3)

   org  dst  paxisplus
0  AAE  ALG       4780
1  AAE  HME        220
2  AAE  IST        825

In [150]:
# import airport data getting from the internet
in_table = r'C:\Users\Ensheng\Desktop\mapping\IATA\IATA_airports.xlsx'
df_airports = pd.read_excel(in_table)
print(len(df_airports))
df_airports.head(5)

2618

,Code,Name,City,State,State Name,Latitude,Longitude,Country,Country Name,Global Region
5,AAF,Apalachicola Regional Airport,Apalachicola,FL,Florida,29.73,-84.98,US,United States,North America
15,AAP,Andrau Airpark,Houston,TX,Texas,29.83,-95.67,US,United States,North America
30,ABE,Lehigh Valley International,Allentown,PA,Pennsylvania,40.65,-75.44,US,United States,North America
34,ABI,Abilene Regional Airport,Abilene,TX,Texas,32.41,-99.68,US,United States,North America
37,ABL,Ambler River,Ambler,AK,Alaska,67.09,-157.85,US,United States,North America

In [160]:
df_airports = df_airports[df_airports['Country'] == 'US']
df_airports = df_airports[['Code','State Name']]
df_airports = df_airports[df_airports['State Name']!='U.S. Pacific Trust Territories And Possessions'].reset_index(drop=True)
df_airports = df_airports[df_airports['State Name']!='U.S. Virgin Islands'].reset_index(drop=True)

In [161]:
print(len(set(df_airports['State Name']) - set(df_com['res_state'])))
print(len(set(df_com['res_state']) - set(df_airports['State Name'])))

0
0

In [163]:
print(len(df_airports))
df_airports.head(5)

2601

  Code    State Name
0  AAF       Florida
1  AAP         Texas
2  ABE  Pennsylvania
3  ABI         Texas
4  ABL        Alaska

In [169]:
# merge with HHS
df_temp = pd.merge(df_airports, df_hhs, how='left', left_on='State Name',right_on='Regions')
df_airports = df_temp
print(len(df_airports.loc[df_airports['Regions'].isnull()]))
df_airports.head(5)

0

  Code    State Name    HHS       Regions  state_FIPS
0  AAF       Florida  HHS04       Florida          12
1  AAP         Texas  HHS06         Texas          48
2  ABE  Pennsylvania  HHS03  Pennsylvania          42
3  ABI         Texas  HHS06         Texas          48
4  ABL        Alaska  HHS10        Alaska           2

In [178]:
# merge with HHS
df_temp = pd.merge(df_iata, df_airports, how='left', left_on='org',right_on='Code')
df_temp = pd.merge(df_temp, df_airports, how='left', left_on='dst',right_on='Code')
df_temp = df_temp[df_temp['Code_x'].notnull()]
df_temp = df_temp[df_temp['Code_y'].notnull()]
# mimic the field names as in the commuting section
df_temp = df_temp.rename(index=str, columns={"Regions_x": "res_state", "Regions_y": "work_state",\
                                            "HHS_x": "res_HHS", "HHS_y": "work_HHS",'paxisplus': 'flow'}) 
#df_temp = df_temp.drop(columns=['Regions_x', 'state_FIPS_x', 'Regions_y', 'state_FIPS_y'])
df_temp = df_temp[['res_state','res_HHS','work_state','work_HHS','flow']]
df_flight = df_temp
df_flight.head(10)

         res_state res_HHS      work_state work_HHS  flow
1177  Pennsylvania   HHS03         Georgia    HHS04   806
1178  Pennsylvania   HHS03  North Carolina    HHS04   526
1179  Pennsylvania   HHS03        Michigan    HHS05   324
1180  Pennsylvania   HHS03       Wisconsin    HHS05     7
1181  Pennsylvania   HHS03        Illinois    HHS05   401
1182  Pennsylvania   HHS03         Florida    HHS04  1212
1183  Pennsylvania   HHS03    Pennsylvania    HHS03    14
1184  Pennsylvania   HHS03         Florida    HHS04  1356
1185  Pennsylvania   HHS03         Florida    HHS04  4270
1186  Pennsylvania   HHS03      New Mexico    HHS06    40

### Pivoting tables and sorting flow (similar to the commuting flow)

In [179]:
mode = 'flight'

if mode == 'flight':
    df_mode = df_flight

output_name_state = 'Flows_' + mode + '_state.csv'
output_name_state_rank = 'Flows_' + mode + '_state_rank.csv'
output_name_hhs = 'Flows_' + mode + '_HHS.csv'
output_name_hhs_rank = 'Flows_' + mode + '_HHS_rank.csv'

### State summary

In [180]:
result_temp = df_mode.groupby(['res_state', 'work_state'])['flow'].sum()
result = result_temp.unstack().fillna(0)
output_csv = out_folder + output_name_state
result.to_csv(output_csv, index=True, encoding='utf-8')
result

work_state,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
res_state,,,,,,,,,,,,,,,,,,,,,
Alabama,57.0,421.0,3414.0,658.0,12756.0,4221.0,873.0,0.0,6935.0,17930.0,...,210.0,578.0,20571.0,1447.0,187.0,3760.0,2350.0,199.0,1052.0,280.0
Alaska,400.0,155294.0,4504.0,357.0,18989.0,4965.0,191.0,0.0,1451.0,4258.0,...,269.0,970.0,8086.0,2463.0,76.0,854.0,31198.0,57.0,686.0,207.0
Arizona,3177.0,4729.0,1297.0,2047.0,173559.0,66214.0,2723.0,0.0,9250.0,44623.0,...,5951.0,11004.0,69686.0,26569.0,616.0,8839.0,42572.0,394.0,14340.0,949.0
Arkansas,652.0,403.0,2378.0,5.0,12500.0,3260.0,435.0,0.0,2451.0,10652.0,...,132.0,1606.0,13503.0,1051.0,72.0,1902.0,2079.0,107.0,1028.0,189.0
California,12877.0,19298.0,177586.0,12380.0,986307.0,188220.0,13428.0,0.0,45147.0,214152.0,...,5278.0,46090.0,352212.0,108534.0,3368.0,92699.0,295433.0,1147.0,29275.0,5292.0
Colorado,4504.0,5625.0,71655.0,3449.0,197055.0,7082.0,5454.0,0.0,17950.0,90446.0,...,4790.0,16455.0,146161.0,24948.0,1427.0,26635.0,31873.0,528.0,16736.0,2037.0
Connecticut,1036.0,203.0,2590.0,425.0,12008.0,5686.0,0.0,0.0,9010.0,63195.0,...,204.0,3147.0,8351.0,1171.0,2.0,2453.0,1931.0,119.0,1229.0,226.0
Delaware,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3429.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
District of Columbia,6689.0,1491.0,9786.0,2445.0,46693.0,18496.0,8541.0,0.0,0.0,106630.0,...,625.0,18740.0,51558.0,6066.0,2709.0,342.0,10504.0,269.0,9057.0,443.0
Florida,20277.0,4931.0,48120.0,11449.0,224407.0,88350.0,60372.0,3280.0,111116.0,92932.0,...,6001.0,73239.0,264312.0,18495.0,7471.0,83297.0,38384.0,6969.0,52053.0,1871.0
Georgia,1869.0,2626.0,18246.0,5058.0,86512.0,27917.0,7511.0,0.0,32747.0,128875.0,...,1299.0,10109.0,103057.0,10398.0,1163.0,30910.0,16237.0,880.0,12670.0,1258.0
Hawaii,957.0,3763.0,15841.0,807.0,211834.0,13297.0,554.0,0.0,2604.0,10194.0,...,202.0,2372.0,24000.0,7183.0,154.0,7208.0,46685.0,125.0,1081.0,148.0
Idaho,300.0,2470.0,6646.0,231.0,28703.0,6098.0,218.0,0.0,950.0,3741.0,...,301.0,1020.0,6611.0,5400.0,80.0,1389.0,16664.0,24.0,862.0,174.0
Illinois,6497.0,1911.0,49156.0,4333.0,174238.0,53418.0,7717.0,0.0,44701.0,213173.0,...,1683.0,23128.0,124763.0,10291.0,1441.0,23216.0,21245.0,522.0,1995.0,1241.0
Indiana,975.0,492.0,10846.0,813.0,26530.0,10863.0,1308.0,0.0,5192.0,56554.0,...,537.0,2688.0,20516.0,2086.0,206.0,5005.0,4070.0,27.0,1069.0,234.0
Iowa,551.0,247.0,7501.0,323.0,12350.0,5062.0,489.0,0.0,3666.0,17054.0,...,113.0,1748.0,12365.0,1237.0,132.0,1632.0,2568.0,37.0,415.0,156.0
Kansas,398.0,238.0,2880.0,100.0,6551.0,2786.0,162.0,0.0,1218.0,4818.0,...,59.0,920.0,7740.0,580.0,29.0,802.0,1684.0,19.0,569.0,81.0
Kentucky,1208.0,477.0,4910.0,1037.0,23738.0,8711.0,1849.0,0.0,8303.0,59238.0,...,351.0,2685.0,22031.0,2991.0,436.0,4922.0,3306.0,7.0,2266.0,342.0
Louisiana,959.0,1085.0,6898.0,1304.0,37970.0,16964.0,1302.0,0.0,15315.0,34038.0,...,502.0,9762.0,71897.0,2627.0,432.0,7146.0,7446.0,642.0,2797.0,538.0
Maine,377.0,70.0,877.0,134.0,3550.0,1309.0,7.0,0.0,4057.0,10783.0,...,36.0,1360.0,2852.0,421.0,0.0,1516.0,571.0,89.0,634.0,50.0
Maryland,4020.0,688.0,11229.0,1802.0,36527.0,13394.0,4114.0,0.0,0.0,118735.0,...,424.0,12232.0,44481.0,6990.0,87.0,861.0,11971.0,56.0,3772.0,520.0
Massachusetts,2699.0,1827.0,13921.0,1595.0,102557.0,21067.0,0.0,0.0,36586.0,136064.0,...,622.0,8911.0,46622.0,5242.0,206.0,23591.0,13724.0,352.0,5769.0,984.0
Michigan,3847.0,1705.0,19013.0,1813.0,64096.0,23827.0,2804.0,0.0,11900.0,154210.0,...,812.0,14295.0,49154.0,7357.0,867.0,8173.0,16597.0,183.0,4843.0,588.0
Minnesota,2004.0,2764.0,32695.0,2150.0,72247.0,32044.0,2947.0,0.0,10100.0,90049.0,...,1517.0,8615.0,41277.0,7126.0,823.0,6488.0,16750.0,220.0,5999.0,693.0
Mississippi,57.0,141.0,1170.0,111.0,4427.0,1305.0,302.0,0.0,2183.0,4096.0,...,97.0,660.0,6819.0,498.0,35.0,1448.0,902.0,84.0,558.0,106.0
Missouri,2544.0,2038.0,24404.0,1033.0,70394.0,29524.0,2952.0,0.0,18679.0,80769.0,...,634.0,8878.0,69053.0,5826.0,523.0,11169.0,17784.0,360.0,6270.0,522.0
Montana,424.0,3065.0,8247.0,290.0,16438.0,7764.0,423.0,0.0,1278.0,5160.0,...,376.0,1430.0,7522.0,1847.0,248.0,1659.0,12425.0,73.0,1214.0,37.0
Nebraska,721.0,584.0,11017.0,468.0,17296.0,9640.0,545.0,0.0,4289.0,11364.0,...,121.0,2073.0,13229.0,2004.0,83.0,1959.0,3953.0,87.0,1053.0,147.0
Nevada,4004.0,6209.0,42076.0,5065.0,270215.0,52592.0,4694.0,0.0,8267.0,54560.0,...,4892.0,12586.0,116359.0,17727.0,512.0,15374.0,66299.0,473.0,12696.0,1937.0
New Hampshire,570.0,36.0,1305.0,192.0,3176.0,1797.0,0.0,0.0,2673.0,22047.0,...,73.0,1262.0,2605.0,750.0,0.0,1087.0,544.0,49.0,553.0,37.0
New Jersey,1794.0,1418.0,19414.0,1385.0,101844.0,19047.0,38.0,2.0,1920.0,218303.0,...,448.0,10465.0,49080.0,3792.0,1255.0,3657.0,14430.0,191.0,6438.0,587.0
New Mexico,577.0,507.0,10418.0,511.0,26013.0,7383.0,589.0,0.0,2483.0,8254.0,...,214.0,1865.0,19527.0,3115.0,108.0,2341.0,6734.0,75.0,812.0,161.0
New York,7504.0,2122.0,29004.0,5742.0,260166.0,41394.0,396.0,0.0,30020.0,561772.0,...,1298.0,27349.0,119960.0,16787.0,5279.0,25340.0,21748.0,704.0,17687.0,1887.0
North Carolina,6027.0,1361.0,12441.0,4067.0,62866.0,17438.0,8257.0,0.0,12471.0,101189.0,...,1163.0,21712.0,58932.0,6023.0,1746.0,10287.0,9364.0,261.0,8994.0,649.0
North Dakota,399.0,420.0,9942.0,375.0,6143.0,7719.0,210.0,0.0,1070.0,9869.0,...,176.0,1198.0,8636.0,1091.0,76.0,713.0,2224.0,29.0,842.0,174.0
Ohio,2752.0,928.0,16933.0,1754.0,45097.0,19216.0,3015.0,0.0,8228.0,125751.0,...,731.0,9862.0,41100.0,4483.0,542.0,7850.0,6786.0,4.0,3768.0,605.0
Oklahoma,1545.0,637.0,5970.0,188.0,23681.0,11752.0,700.0,0.0,3978.0,15853.0,...,362.0,3128.0,36925.0,2577.0,111.0,3620.0,4291.0,211.0,1325.0,531.0
Oregon,983.0,11610.0,22206.0,898.0,155109.0,18604.0,854.0,0.0,5601.0,14178.0,...,799.0,3304.0,23963.0,13500.0,382.0,3994.0,25652.0,143.0,3069.0,548.0
Pennsylvania,5729.0,2280.0,21294.0,3215.0,85497.0,26911.0,2730.0,0.0,2331.0,209823.0,...,949.0,18998.0,69601.0,7958.0,1543.0,5381.0,12886.0,541.0,8668.0,1084.0
Puerto Rico,666.0,105.0,2046.0,491.0,9627.0,2014.0,7244.0,0.0,5352.0,90107.0,...,91.0,2090.0,19727.0,788.0,117.0,5468.0,1029.0,102.0,1058.0,22.0
Rhode Island,665.0,38.0,1627.0,273.0,5000.0,2116.0,0.0,0.0,5229.0,46266.0,...,62.0,2107.0,4790.0,556.0,0.0,2648.0,650.0,92.0,806.0,27.0
South Carolina,1158.0,353.0,3191.0,1135.0,13076.0,5530.0,2085.0,0.0,10981.0,19815.0,...,277.0,4603.0,21373.0,1678.0,388.0,4250.0,3008.0,243.0,2280.0,237.0
South Dakota,237.0,288.0,5833.0,119.0,5042.0,4797.0,195.0,0.0,646.0,5881.0,...,467.0,767.0,4563.0,529.0,66.0,773.0,1283.0,37.0,418.0,51.0
Tennessee,632.0,977.0,10376.0,1701.0,44046.0,16028.0,2992.0,0.0,16783.0,69267.0,...,777.0,1675.0,56017.0,4472.0,560.0,9858.0,9083.0,236.0,3948.0,614.0
Texas,21736.0,8322.0,68546.0,14514.0,350894.0,140484.0,7911.0,0.0,51805.0,246693.0,...,4439.0,56622.0,324903.0,30169.0,1879.0,42342.0,59800.0,2542.0,21260.0,4724.0
Utah,1545.0,2597.0,27888.0,1035.0,112471.0,24914.0,1336.0,0.0,6103.0,19318.0,...,576.0,5311.0,30217.0,4644.0,427.0,4544.0,19462.0,210.0,2866.0,501.0
Vermont,188.0,72.0,688.0,88.0,3474.0,1483.0,2.0,0.0,2544.0,7259.0,...,70.0,603.0,1981.0,423.0,0.0,1522.0,548.0,112.0,383.0,81.0
Virginia,3740.0,908.0,8871.0,1893.0,90053.0,25630.0,2545.0,0.0,238.0,79211.0,...,726.0,10238.0,39902.0,4156.0,1528.0,1587.0,9630.0,2003.0,3430.0,844.0
Washington,2358.0,32684.0,44766.0,2043.0,291852.0,32421.0,2025.0,0.0,10726.0,37494.0,...,1249.0,9429.0,60277.0,17930.0,578.0,9749.0,48180.0,221.0,6915.0,535.0
West Virginia,208.0,73.0,407.0,110.0,1241.0,474.0,126.0,0.0,236.0,7057.0,...,38.0,270.0,2649.0,209.0,67.0,1399.0,227.0,0.0,84.0,54.0
Wisconsin,1175.0,684.0,15377.0,1035.0,29286.0,15519.0,1283.0,0.0,13160.0,53427.0,...,396.0,4187.0,21358.0,2768.0,413.0,3647.0,7276.0,78.0,36.0,265.0
Wyoming,301.0,230.0,1065.0,207.0,6162.0,2205.0,270.0,0.0,473.0,1847.0,...,56.0,699.0,4972.0,550.0,96.0,1006.0,530.0,52.0,247.0,476.0

In [181]:
# sort by flow where res and work are different locations
result_flow = result_temp.reset_index()
result_flow = result_flow[result_flow['res_state'] != result_flow['work_state']]
df_flow = result_flow.sort_values('flow',ascending = False).reset_index(drop=True)

result = df_flow
output_csv = out_folder + output_name_state_rank
result.to_csv(output_csv, index=True, encoding='utf-8')

df_flow.head(10)

    res_state  work_state    flow
0     Florida    New York  565582
1    New York     Florida  561772
2  California       Texas  352212
3       Texas  California  350894
4  California  Washington  295433
5  Washington  California  291852
6      Nevada  California  270215
7     Florida       Texas  264312
8    New York  California  260166
9  California    New York  258156

### HHS summary

In [182]:
# output pivot table
result_temp = df_mode.groupby(['res_HHS', 'work_HHS'])['flow'].sum()
result = result_temp.unstack().fillna(0)
output_csv = out_folder + output_name_hhs
result.to_csv(output_csv, index=True, encoding='utf-8')
result

work_HHS,HHS01,HHS02,HHS03,HHS04,HHS05,HHS06,HHS07,HHS08,HHS09,HHS10
res_HHS,,,,,,,,,,
HHS01,10892,110681,189037,434040,143885,89746,25005,48696,175689,29207
HHS02,114798,226040,129113,1220679,323523,248158,55279,94689,514080,58905
HHS03,181382,126103,39366,870707,309491,287940,77901,125850,402204,74593
HHS04,427220,1226026,882228,1133354,1106516,716465,213580,259928,720844,136836
HHS05,144951,315843,313875,1106100,297489,375024,121507,219349,739633,120674
HHS06,87763,246900,289733,697312,367772,622506,121780,253402,723280,132956
HHS07,23959,53857,79244,211418,119246,125824,18574,64215,204320,43441
HHS08,48847,96258,126213,264971,217065,261652,68062,123805,590075,133486
HHS09,182510,508398,404809,708311,712179,724633,196020,567675,2847624,746616
HHS10,30141,61539,71921,136563,119388,131577,44170,130705,751654,405894

In [183]:
# sort by flow where res and work are different locations
result_flow = result_temp.reset_index()
result_flow = result_flow[result_flow['res_HHS'] != result_flow['work_HHS']]
df_flow = result_flow.sort_values('flow',ascending = False).reset_index(drop=True)

result = df_flow
output_csv = out_folder + output_name_hhs_rank
result.to_csv(output_csv, index=True, encoding='utf-8')

df_flow.head(10)

  res_HHS work_HHS     flow
0   HHS04    HHS02  1226026
1   HHS02    HHS04  1220679
2   HHS04    HHS05  1106516
3   HHS05    HHS04  1106100
4   HHS04    HHS03   882228
5   HHS03    HHS04   870707
6   HHS10    HHS09   751654
7   HHS09    HHS10   746616
8   HHS05    HHS09   739633
9   HHS09    HHS06   724633